h1{
    background-image: url('https://i.pinimg.com/564x/1e/88/c8/1e88c89e7a5c3779ff842835916a4c92.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    border: 2px solid rgb(232, 217, 168);

}
